
/* Header */
.header_fixed {
    text-align: right;
    /* border: 1px solid white; */
    padding: 1rem;
    position: fixed;
}
.header_type {
    /* border: 1px solid brown; */
    margin: 0;
}

.rotate_animate {
    color: aquamarine; 
    /* Style for the element */
    animation: wobble 3s ease-in-out infinite; /* Adjust duration and timing function */
    opacity: 80%;
    transform-origin: top;
    padding: 0;
    margin: 0;
    mix-blend-mode:difference;
  }
  
  /* Keyframes for the wobbling animation */
  @keyframes wobble {
    0% { transform: translateX(-1rem); }
    25% { transform: translateX(1rem) rotate(-5deg); }
    50% { transform: translateX(-1rem) rotate(5deg); }
    75% { transform: translateX(1rem) rotate(-3deg); }
    100% { transform: translateX(-1rem); }
  }

/* Image Containers */

.grid_link {
  padding: 1rem;
  border-radius: 0.5rem;
  /* border: 2px solid white; */
  
}

img {
    border: 2px solid white;
    border-radius: 0.5rem;

}

/* Image Effect */

.profile_container {
  height: 100%; /* Example height of the container */
  overflow: hidden; /* Hide overflow content outside the container */
  display: flex;
}

.cropped_image {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain image aspect ratio */
  object-fit: cover; /* Crop and cover the entire container */
}

/* Body Text Custom */